<!DOCTYPE html>
<html>
  <body>
    <% if (flavor == "chocolate") { %>
    <h1>Chocolate?! You have problems.</h1>
    <%} else { %>
    <h1>Wow, you like <%=flavor%> ice cream with <%=topping%> too? THAT IS MY FAVORITE.</h1>
    <h2>Let's jam, buddy.</h2>
   <% } %>
  </body>
</html>
